.checkout-wrapper {
    z-index: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
}

div.slip-view-toggle {
    content: '';
    height: 100%;
    background-color: black;
    opacity: .5;
    flex-grow: 4;
    min-width: 10%;
}

div.slip-view {
    content: '';
    height: 100%;
    background-color: white;
    border-left: 3px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 3;
}

.slip-view-header {
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    height: 90px;
}

.slip-view-header img {
    width: 10%;
}

#checkout {
    flex-grow: 1;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: scroll;
}

.product-list {
    content: '';
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#checkout output {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    border-radius: 8px;
    font-weight: 700;
}

#checkout output span {
    font-weight: 600;
}

.product-list,
#total {
    padding: 0 30px;
}

body.slip-view {
    height: 100%;
    overflow: hidden;
}