.event-card {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80vw;
    flex-wrap: wrap;
    padding: 20px;
}

.event-name {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.3em;
    width: 100%;
}

@media (min-width: 800px) and (orientation: landscape){
    .event-card {
        flex-direction: row;
    }
}